:root{
    --blanco: #ffffff;
    --negro: #000000;
    --azulprincipal: #6e6eff;
    --fondo: #ebe5ff;
    --fondoclarito: #f3f3f3;
    --bordes: #bababa;
}

body{
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.caja{
    background-color: var(--fondo);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 2px solid var(--fondoclarito);
    border-radius: 8px/7px;
    border-bottom: var(--negros);
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    margin: 20px auto;
    padding: 2px 20px
    
}
.form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 0 30px;
}

.caja_text{
    font-size: 32px;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 10px;
}
.cuenta{
    padding: 10px;
    margin-bottom: 20px;
    border-top: 1px solid var(--bordes);
    border-bottom: 1px solid var(--bordes);
}